* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  font: "Roboto", sans-serif;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Shrikhand", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}
header .hlogo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header .location {
  background-color: #EAEAEA;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
header .location i {
  cursor: pointer;
  margin-right: 1rem;
}
header .introduction {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  height: 18rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
header .introduction .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
  justify-content: space-around;
}
header .introduction .menu h2 {
  font-family: "Roboto";
  text-align: center;
}
header .introduction .menu p {
  font-family: "Roboto";
  text-align: center;
  font-weight: 100;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
header .introduction .menu button {
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-radius: 2rem;
  border: none;
  height: 3rem;
  width: 15rem;
  color: white;
  font-size: 1rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15), 3px 3px 6px rgba(0, 0, 0, 0.05);
  background: linear-gradient(to bottom right, #FF79DA 5%, #9356DC);
}
header .introduction .menu button:focus {
  outline: none;
}
header .introduction .menu button:hover::after {
  opacity: 1;
}
header .introduction .menu button::after {
  content: "";
  border-radius: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2), 3px 3px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
header .navbar {
  width: 100%;
  padding-top: 3rem;
}
header .navbar h2 {
  font-family: "Roboto";
  margin-left: 1.5rem;
}
header .navbar .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
  justify-content: space-between;
  height: 20rem;
  padding-top: 2rem;
}
header .navbar .menu button {
  background-color: #F6F6F6;
  width: 90%;
  max-width: 30rem;
  height: 5rem;
  border-radius: 1.5rem;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1rem;
  text-align: start;
  position: relative;
  z-index: 1;
}
header .navbar .menu button:focus {
  outline: none;
}
header .navbar .menu button:hover i {
  color: #9356DC;
}
header .navbar .menu button:hover::after {
  opacity: 1;
}
header .navbar .menu button::after {
  content: "";
  border-radius: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f2eafb;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2), 3px 3px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
header .navbar .menu button .circle {
  position: absolute;
  justify-content: space-around;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  text-align: center;
  overflow: hidden;
  margin-right: 2rem;
  padding-top: 4px;
  font-weight: 300;
  font-size: 0.9rem;
  font-family: "Roboto";
}
header .navbar .menu button i {
  margin-right: 2rem;
  margin-left: 3rem;
  font-size: 1.3rem;
  color: #7E7E7E;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 100%;
}
section .restaurant {
  background-color: #F6F6F6;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
section .restaurant .sectiontitle {
  width: 100%;
}
section .restaurant h2 {
  font-family: "Roboto";
  font-weight: 600;
  display: inline-block;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}
section .restaurant .cardlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: black;
}
section .restaurant .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 28rem;
  width: 90%;
  margin-bottom: 1.5rem;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2), 3px 3px 6px rgba(0, 0, 0, 0.1);
}
section .restaurant .card:hover {
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2), 3px 3px 12px rgba(0, 0, 0, 0.1);
  transition: 500ms;
}
section .restaurant .card img {
  display: flex;
  align-content: center;
  object-fit: cover;
  height: 12rem;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
section .restaurant .card .board {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  width: 100%;
  max-width: 28rem;
  border-radius: 0 0 10px 10px;
}
section .restaurant .card .board .cardlinktitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  color: black;
}
section .restaurant .card .board h4 {
  font-family: "Roboto";
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-left: 10px;
}
section .restaurant .card .board p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 10px;
  font-family: "Roboto";
}
section .restaurant .card .board input {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.7rem;
  z-index: 4;
  opacity: 0;
}
section .restaurant .card .board input:checked + .iconify {
  opacity: 1;
}
section .restaurant .card .board input:checked + .iconify + .fa_custom {
  opacity: 0;
}
section .restaurant .card .board .like .iconify {
  color: #9356DC;
  font-size: 1.25rem;
  position: absolute;
  margin-top: 0.95rem;
  opacity: 0;
  z-index: 2;
}
section .restaurant .card .board .like .fa_custom {
  opacity: 1;
  position: relative;
  margin-top: 0.85rem;
  margin-right: 1rem;
  font-size: 1.45rem;
  font-weight: normal;
  z-index: 2;
}

footer {
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #363636;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
footer .footerlogo {
  filter: invert(100%);
  width: 8rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
footer ul {
  list-style: none;
  line-height: 1.5rem;
  margin-left: 1.5rem;
}
footer li a {
  font-family: "Roboto";
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}
footer li a i {
  width: 15px;
  margin-right: 8px;
}

/*# sourceMappingURL=style.css.map */
