:root{
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --third-color: #99E2D0;
    }

*{
    font-family: 'Roboto', sans-serif;
    }

h1, h2, h3, h4, h5, h6{
    font-family: 'Shrikhand', cursive;
    }