$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$footer-color:#363636;
$darkgrey: #7E7E7E;
$grey: #EAEAEA;
$lightgrey: #F6F6F6;
$orange: #f58753;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    & h1, h2{
        font-family: 'Shrikhand', sans-serif;
    }
}